<div nxLayout="grid maxwidth">
  
<br>
<form>
  <div nxLayout="grid">
    <div data-testid="gpg-asym-key-1">
      <asymkey [pkeys]="privKeys" [(pkey)]="privKey" [(keyusage)]="keyusageE" [mode]="'p'" [(keyform)]="keyformE"> </asymkey>
    </div>
    <div nxRow>
      <div nxCol="1">
        <label>Clear text: </label>
      </div>
      <div nxCol="9">
        <textarea nxAlign='top' nxInput [(ngModel)]="origtext" rows=10 cols=132 name='origtxt'></textarea>
      </div>
    </div>
    <br>
    <br>
    <button  type="button" nxButton="primary medium" (click)="encode()">Encrypt Text</button>
    <button  type="button" nxButton="primary medium" (click)="sign()">Sign Text</button>
    <br>
    <div nxRow>
      <div nxCol="1"><label>Encrypted text: </label></div>
      <div nxCol="9">
        <textarea nxInput [ngModel]="enctext" rows="10" cols=132 name='enctext'></textarea>
      </div>
    </div>
    <br>
    <div data-testid="gpg-asym-key-2">
    <asymkey  [pkeys]="pubKeys" [(pkey)]="pubKey" [(keyusage)]="keyusageD" [mode]="'p'" [(keyform)]="keyformD"> </asymkey>
  </div>
    <br>
    <button  type="button" nxButton="primary medium" (click)="decode()">Decrypt Text</button>
    <button  type="button" nxButton="primary medium" (click)="verify()">Verify signature</button>
    &nbsp;&nbsp;<label>save to file: </label> <input type="text" nxInput name='fname' size="20" [(ngModel)]="fileName"/> 
    <br>
    <br>
    <div nxRow>
      <div nxCol="1"><label>Result: </label></div>
      <div nxCol="9">
        @if (dectext != undefined) {
        <textarea nxInput [ngModel]="dectext" rows="10" cols=132 name='dectext'></textarea>
        }
        @if (verified != undefined) {
          <nx-label data-testid="gpg-asym-verify" [class]="verified">{{verified}}</nx-label>
          }
        </div>
    </div>
  </div>
</form>
</div>