

  <div nxLayout="grid maxwidth">
    <br>

    <div nxRow>
      <div nxCol="1">
        <label>Token: </label>
      </div>
      <div nxCol="9"><textarea nxInput [(ngModel)]="tokenstring" name='tokenstring' (change)="chg_token()"  rows=4 cols=80></textarea>
      </div>
    </div>
    <br>
    <label>signed with: {{algo}}</label><br><br>
    <asymkey [pkeys]="pubkeys" [signers]="signers" [(pkey)]="pubkey" [(keyusage)]="keyusage" [(keyform)]="keyform" [mode]="'c'" [(keyalg)]="keyalg"> </asymkey>
    <br>
    <br>
    <button nxButton="primary small" type="button" (click)="check_token()">check token</button>

    <br>
    <div nxRow>
      <div nxCol="1">
        <nx-label>Result: </nx-label>
        <nx-label [class]="valresult">{{valresult}}</nx-label>
      </div>
    
      <div nxCol="7">
        <textarea nxInput [ngModel]="reason" rows=4 cols=80 name='reason'></textarea>
      </div>
    </div>
  </div>