<!-- (c) Gerhard Döppert, GPL3 -->
<div style="text-align:left; margin: 15px;">
  <h1>
    {{ title }}
  </h1>

  <nx-tab-group [(selectedIndex)]="currentIndex" appearance="expert">

    <nx-tab label="Create Token">

      <br>

       <jwt-create></jwt-create>
    </nx-tab>

    <nx-tab label="Check Token">
      <jwt-check></jwt-check>
    </nx-tab>

    <nx-tab label="Codes, Hashes, Ciphers">
      <code-sym></code-sym>
    </nx-tab>

    <nx-tab label="Public Key sign and encrypt">
      <code-asym></code-asym>
    </nx-tab>
  </nx-tab-group>
</div>