<!-- (c) Gerhard Döppert, GPL3 -->
<div style="text-align:left; margin: 15px;">
  <h1>
    {{ title }}
  </h1>

  <nx-tab-group [(selectedIndex)]="currentIndex" appearance="expert">

    <nx-tab label="Create Token">

      <br>


      <form>
        <div nxLayout="grid maxwidth">

          <nx-radio-group name="keyTypeGroup" [(ngModel)]="keyusage">
            <nx-label class="nx-margin-bottom-m">Key is</nx-label>
              <div class="horizontal-buttons">
                <nx-radio nxValue="bytes" name='privbytes' class="nx-margin-bottom-m">(private) key as bytes&nbsp; </nx-radio>&nbsp;
                <nx-radio nxValue="name" name='privname' class="nx-margin-left-s nx-margin-bottom-m">name of key in keystore</nx-radio>
              </div>
          </nx-radio-group>
          <br>


          <div nxRow>
            <div nxCol="1">
              <nx-label>Key: </nx-label>
            </div>
          <div nxCol="8" *ngIf="keyusage == 'bytes'">
            <nx-formfield nxLabel="enter bytes">
              <input nxInput type="text" size=64 [(ngModel)]="privkey" name='privkey' />
              <nx-dropdown name='ddprivf' [(ngModel)]="keyform" >
                <nx-dropdown-item name="'ddprivf_'+j" *ngFor="let item of keyforms; let j=index;" [nxValue]="item.name" >{{item.description}}</nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
            <nx-formfield nxLabel="algorithm" width=20>
              <nx-dropdown name='ddpriva' nxInput [(ngModel)]="keyalg">
                <nx-dropdown-item name="'ddpriva_'+j" *ngFor="let item of signers; let j=index;" [nxValue]="item.name">{{item.description}}</nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
          </div>
          <div nxCol="4" *ngIf="keyusage == 'name'">
            <nx-formfield nxLabel="select key name">
              <nx-dropdown [(ngModel)]="privkey" name='selkey'>
                <nx-dropdown-item *ngFor="let item of privkeys" name="'selkey_'+item" [nxValue]="item"></nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
          </div>
        </div>

          <br>
          <br>
          <nx-label>Claims to include:</nx-label>
          <br>
          <table pad="3">
            <tr>
              <th nxTableHeader style="min-width: 10em;">Name </th>
              <th nxTableHeader>Value</th>
            </tr>
            <tr nxTableRow>
              <td nxTableCell>Subject </td>
              <td nxTableCell><input nxInput type="text" [(ngModel)]="req.subject" name="cl1" /></td>
            </tr>
            <tr nxTableRow>
              <td nxTableCell>Audience </td>
              <td nxTableCell><input nxInput type="text" [(ngModel)]="req.audience" name="cl2" /></td>
            </tr>
            <tr nxTableRow>
              <td nxTableCell>Issuer</td>
              <td nxTableCell><input nxInput type="text" [(ngModel)]="req.issuer" name="cl3" /></td>
            </tr>
            <tr nxTableRow>
              <td nxTableCell>NotBefore </td>
              <td nxTableCell><input nxInput type="date" [(ngModel)]="req.notBefore" name="cl4" /></td>
            </tr>
            <tr nxTableRow>
              <td nxTableCell>Expiration </td>
              <td nxTableCell><input nxInput type="date" [(ngModel)]="req.expiration" name="cl5" /></td>
            </tr>

            <tr nxTableRow *ngFor="let cl of myClaims">
              <td nxTableCell>{{cl.name}}</td>
              <td nxTableCell><input nxInput type="text" [(ngModel)]="cl.value" name="{{'clx'+cl.name}}" /></td>
            </tr>

          </table>
          <br>
          <div nxRow>
            <div nxCol="2">
              <label>Custom Claim: </label>
            </div>
            <div nxCol="2">
              <input type="text" size="20em" nxInput [(ngModel)]="clname" name="cln" /> 
            </div>
            <div nxCol="1">
              <button
                   nxButton="secondary" type="button" (click)="addClaim()">add claim</button>
            </div>
          </div>
          <br>
          <button nxButton="secondary" type="button" (click)="create_token()">create token with claims</button>

          <br>
          <hr>
          <br>
          <div nxRow>
            <div nxCol="1">
              <label>Token: </label>
            </div>
            <div nxCol="9"><textarea nxInput [(ngModel)]="tokenstring" name='tokenstring' rows=4 cols=80></textarea>
            </div>
          </div>
          <br>
        </div>

      </form>

    </nx-tab>

    <nx-tab label="Check Token">
      <div nxLayout="grid maxwidth">
        <br>

        <div nxRow>
          <div nxCol="1">
            <label>Token: </label>
          </div>
          <div nxCol="9"><textarea nxInput [(ngModel)]="tokenstring" name='tokenstring' rows=4 cols=80></textarea>
          </div>
        </div>
        <br>
        <nx-radio-group name="keyTypeGroup" [(ngModel)]="keyusage">
          <nx-label class="nx-margin-bottom-m">Key is</nx-label>
          <div class="horizontal-buttons">
            <nx-radio nxValue="bytes" name='pubbytes' class="nx-margin-bottom-m">(public) key as bytes&nbsp; </nx-radio>&nbsp;
            <nx-radio nxValue="name" name='pubname' class="nx-margin-left-s nx-margin-bottom-m">name of key in keystore</nx-radio>
          </div>
        </nx-radio-group>
        <br>
        <div nxRow>
          <div nxCol="1">
            <nx-label>Key: </nx-label> 
          </div>
          <div nxCol="8" *ngIf="keyusage == 'bytes'">
            <nx-formfield nxLabel="enter bytes">
              <input nxInput type="text" size=64 [(ngModel)]="pubkey" name='pubkey' />
              <nx-dropdown [(ngModel)]="keyform" >
                <nx-dropdown-item name='ddpubf' *ngFor="let item of keyforms" [nxValue]="item.name" >{{item.description}}</nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
            <nx-formfield nxLabel="algorithm" width=20>
              <nx-dropdown name='ddpubs' nxInput [(ngModel)]="keyalg">
                <nx-dropdown-item *ngFor="let item of signers; let j=index;" name="'ddpubs_'+j" [nxValue]="item.name">{{item.description}}</nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
          </div>
          <div nxCol="4" *ngIf="keyusage == 'name'">
            <nx-formfield nxLabel="select key name">
              <nx-dropdown [(ngModel)]="pubkey" name='selkey'>
                <nx-dropdown-item *ngFor="let item of pubkeys" [nxValue]="item"></nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
          </div>
        </div>
        <br>
        <br>
        <button nxButton="primary small" type="button" (click)="check_token()">check token</button>

        <br>
        <div nxRow>
          <div nxCol="1">
            <nx-label>Result: </nx-label>
            <nx-label [class]="valresult">{{valresult}}</nx-label>
          </div>
        
          <div nxCol="7">
            <textarea nxInput [ngModel]="reason" rows=4 cols=80 name='reason'></textarea>
          </div>
        </div>
      </div>
    </nx-tab>

    <nx-tab label="Codes, Hashes, Ciphers">

      <br>
      <form>
        <div nxLayout="grid">
          <div nxRow>
            <div nxCol="1">
              <label>Input: </label>
            </div>
            <div nxCol="9">
              <textarea nxAlign='top' nxInput [(ngModel)]="inptext" rows=10 cols=132 name='inptxt'></textarea>
            </div>
          </div>
          <br>
          <br>
          <div nxRow class="dropdown">
            <div nxCol="2">
              <nx-formfield nxLabel="source encoding">
                <nx-dropdown [(ngModel)]="srcEncoding" name='srcenc'>
                  <nx-dropdown-item *ngFor="let item of encodings;" [nxValue]="item"></nx-dropdown-item>
                </nx-dropdown>
              </nx-formfield>
            </div>
            <div nxCol="3">
              <nx-formfield nxLabel="encryption/hash">
                <nx-dropdown [(ngModel)]="algorithm" name='alg'>
                  <nx-dropdown-item [nxValue]="'Plain'"></nx-dropdown-item>
                  <nx-dropdown-group nxLabel="encryption">
                    <nx-dropdown-item *ngFor="let item of encryptings" [nxValue]="item"></nx-dropdown-item>
                  </nx-dropdown-group>
                  <nx-dropdown-group nxLabel="hashing">
                    <nx-dropdown-item *ngFor="let item of hashings" [nxValue]="item"></nx-dropdown-item>
                  </nx-dropdown-group>
                  <nx-dropdown-group nxLabel="HMAC">
                    <nx-dropdown-item *ngFor="let item of hashings" [nxValue]="'Hmac'+item"></nx-dropdown-item>
                  </nx-dropdown-group>
                </nx-dropdown>
              </nx-formfield>
            </div>
            <div nxCol="2">
              <nx-formfield nxLabel="target encoding">
                <nx-dropdown [(ngModel)]="destEncoding" name='destenc'>
                  <nx-dropdown-item *ngFor="let item of encodings" [nxValue]="item"></nx-dropdown-item>
                </nx-dropdown>
              </nx-formfield>
            </div>
          </div>
          <br>
          <div nxRow>
          <nx-formfield nxLabel="{{encryptings.indexOf(algorithm) == -1 && !algorithm.startsWith('Hmac') ? 'No password
            needed':'Password/Key: '}}" *ngIf="encryptings.indexOf(algorithm) > -1 || algorithm.startsWith('Hmac')" >
              <input type="text" nxInput size=100 [(ngModel)]="key" name='key' *ngIf="encryptings.indexOf(algorithm) > -1 || algorithm.startsWith('Hmac')" />
                <nx-dropdown nxInput name='ddenckeyf' [(ngModel)]="keyform" *ngIf="encryptings.indexOf(algorithm) > -1 || algorithm.startsWith('Hmac')">
                  <nx-dropdown-item name="'ddenckeyf_'+j" *ngFor="let item of keyforms; let j=index;" [nxValue]="item.name" >{{item.description}}</nx-dropdown-item>
                </nx-dropdown>
          </nx-formfield>
        </div>

          <br>
          <br>
          <button *ngIf="encryptings.indexOf(algorithm) >= 0" type="button" nxButton="primary medium" (click)="encode()"
            [disabled]="key.trim().length==0">
            Encrypt Text
          </button>
          <button *ngIf="hashings.indexOf(algorithm) >= 0 || algorithm.startsWith('Hmac')" type="button"
            nxButton="primary medium" (click)="encode()"
            [disabled]="algorithm.startsWith('Hmac') && key.trim().length==0">
            Hash Text
          </button>
          <button *ngIf="encryptings.indexOf(algorithm) >= 0" type="button" nxButton="primary medium" (click)="decode()"
            [disabled]="key.trim().length==0">
            Decrypt Text
          </button>
          <button *ngIf="algorithm == 'Plain'" type="button" nxButton="primary medium" (click)="encode()">Recode
            Text</button>
          <br>
          <br>
          <div nxRow>
            <div nxCol="1"><label>Result: </label></div>
            <div nxCol="9">
              <textarea nxInput [ngModel]="outtext" rows="10" cols=132 name='outtext'></textarea>
            </div>
          </div>
        </div>
      </form>
    </nx-tab>
  </nx-tab-group>
</div>