<nx-radio-group [name]="'kTG'+sid" [(ngModel)]="keyusage" >
    <nx-label class="nx-margin-bottom-m">Key is</nx-label>
    <div class="horizontal-buttons">
      <nx-radio value="bytes" name='pbytes' class="nx-margin-bottom-m">key as bytes&nbsp; </nx-radio>&nbsp;
      <nx-radio value="name" name='pname' class="nx-margin-left-s nx-margin-bottom-m">name of key in keystore</nx-radio>
    </div>
  </nx-radio-group>
  <br>
  <div nxRow>
    <div nxCol="8" *ngIf="keyusage == 'bytes'">
      <nx-formfield label="enter bytes">
        <input nxInput type="text" size=64 [(ngModel)]="pkey" />
        <nx-dropdown [(ngModel)]="keyform" >
          <nx-dropdown-item *ngFor="let item of keyforms; let j=index;" [value]="item.name" >{{item.description}}</nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
      <nx-formfield *ngIf="signers.length>0" label="algorithm" width=20>
        <nx-dropdown nxInput [(ngModel)]="keyalg" >
          <nx-dropdown-item *ngFor="let item of signers; let j=index;" [value]="item.name">{{item.description}}</nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
    </div>
    <div nxCol="4" *ngIf="keyusage == 'name'">
      <nx-formfield label="select key name">
        <nx-dropdown [(ngModel)]="pkey" >
          <nx-dropdown-item *ngFor="let item of pkeys; let j=index;" [value]="item" ></nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
    </div>
  </div>

