<nx-radio-group [name]="'kTG'+sid" [(ngModel)]="keyusage" >
    <nx-label class="nx-margin-bottom-m">Key is</nx-label>
    <div class="horizontal-buttons">
      @if (mode != 'p') {
      <nx-radio value="bytes" name='pbytes' class="nx-margin-bottom-m">key as bytes&nbsp; </nx-radio>&nbsp;
      }
      <nx-radio value="name" name='pname' class="nx-margin-left-s nx-margin-bottom-m">name of key in keystore</nx-radio>
    </div>
  </nx-radio-group>
  <br>
  <div nxRow>
    @if (keyusage == 'bytes') {
    <div nxCol="8" >
      @if (signers.length>0 && mode=='g') {
      <nx-formfield label="algorithm" width=20>
        <nx-dropdown data-testid='options' nxInput [(ngModel)]="keyalg" >
          @for (item of signers | filter :'usage' : mode; track $index; let j=$index;) {
          <nx-dropdown-item attr.data-testid="algo_{{j}}" [value]="j" >{{item.description}}</nx-dropdown-item>
          }
        </nx-dropdown>
      </nx-formfield>
    } 
    @if (signers[keyalg].minLen>0 || mode=='c') {
      <nx-formfield label="enter bytes as" >
        <nx-dropdown data-testid='options' [(ngModel)]="keyform" >
          @for (item of keyforms; track $index; let j=$index) {
          <nx-dropdown-item attr.data-testid="keyform_{{j}}" [value]="item.name" >{{item.description}}</nx-dropdown-item>
          }
        </nx-dropdown>
      </nx-formfield>
      <textarea nxInput type="text" rows="10" cols=80 [(ngModel)]="pkey" ></textarea>
    }
    </div>
  } @else if (keyusage == 'name') {
    <div nxCol="4" >
      <nx-formfield label="select key name">
        <div data-testid='options'>
        <nx-dropdown  [(ngModel)]="pkey" >
          @for (item of pkeys; track $index; let j = $index) {
            <div data-testid='option'>
              <nx-dropdown-item attr.data-testid="keyname_{{j}}" [value]="item" ></nx-dropdown-item>
            </div>
          }
        </nx-dropdown>
      </div>
      </nx-formfield>
    </div>
  }
  </div>

