<form>
    <div nxLayout="grid maxwidth">

      <asymkey [pkeys]="privkeys" [signers]="signers" [(pkey)]="privkey" [(keyusage)]="keyusage" [(keyform)]="keyform" [mode]="'g'" [(keyalg)]="keyalg"> </asymkey>

      <br>
      <br>
      <nx-label>Claims to include:</nx-label>
      <br>
      <table pad="3">
        <tr>
          <th nxTableHeader style="min-width: 10em;">Name </th>
          <th nxTableHeader>Value</th>
        </tr>
        <tr nxTableRow>
          <td nxTableCell>Subject </td>
          <td nxTableCell><input nxInput type="text" [(ngModel)]="req.subject" name="cl1" /></td>
        </tr>
        <tr nxTableRow>
          <td nxTableCell>Audience </td>
          <td nxTableCell><input nxInput type="text" [(ngModel)]="req.audience" name="cl2" /></td>
        </tr>
        <tr nxTableRow>
          <td nxTableCell>Issuer</td>
          <td nxTableCell><input nxInput type="text" [(ngModel)]="req.issuer" name="cl3" /></td>
        </tr>
        <tr nxTableRow>
          <td nxTableCell>NotBefore </td>
          <td nxTableCell><input nxInput type="date" [(ngModel)]="req.notBefore" name="cl4" /></td>
        </tr>
        <tr nxTableRow>
          <td nxTableCell>Expiration </td>
          <td nxTableCell><input nxInput type="date" [(ngModel)]="req.expiration" name="cl5" /></td>
        </tr>

        <tr nxTableRow *ngFor="let cl of myClaims">
          <td nxTableCell>{{cl.name}}</td>
          <td nxTableCell><input nxInput type="text" [(ngModel)]="cl.value" name="{{'clx'+cl.name}}" /></td>
        </tr>

      </table>
      <br>
      <div nxRow>
        <div nxCol="2">
          <label>Custom Claim: </label>
        </div>
        <div nxCol="2">
          <input type="text" size="20em" nxInput [(ngModel)]="clname" name="cln" /> 
        </div>
        <div nxCol="1">
          <button
               nxButton="secondary" type="button" (click)="addClaim()">add claim</button>
        </div>
      </div>
      <br>
      <button nxButton="secondary" type="button" (click)="create_token()">create token with claims</button>

      <br>
      <hr>
      <br>
      <div nxRow>
        <div nxCol="1">
          <label>Token: </label>
        </div>
        <div nxCol="9"><textarea nxInput [(ngModel)]="tokenstring" name='tokenstring' rows=4 cols=80></textarea>
        </div>
      </div>
      <div nxRow>
        <div nxCol="1">
          <label>Public key: </label>
        </div>
        <div nxCol="9"><textarea nxInput [(ngModel)]="pubkey" name='pubkeyout' rows=4 cols=80></textarea>
        </div>
      </div>
      <br>
    </div>

  </form>

