input, textarea {
    border: 1px dotted #AAAAAA;
  }

  input:-webkit-autofill:first-line {
    font-size: var(--formfield-control-font-size);
    line-height: var(--formfield-control-line-height);
    font-weight: var(--formfield-control-font-weight);
    letter-spacing: var(--formfield-control-letter-spacing);
    font-family: var(--font-family);
    color: #101010
}
  

  button {
    margin: 0 4px 16px;
  }

  .tab__content {
    padding-top: 32px;
  }

  .page {
    margin: 10px;
  }

  .horizontal-buttons {
    display: flex;
    flex-direction: row;
  }

  label, th, td {
    font-size: 1.5em;    
  }

  .dropdown {
    width: 40em;
  }
