<h3>This page uses only local processing and does not send anything to the network</h3>
<br>
<form>
  <div nxLayout="grid">
    <div nxRow>
      <div nxCol="1">
        <label>Input: </label>
      </div>
      <div nxCol="9">
        <input type="file" (change)="onFileSelected($event)" />
        <textarea nxAlign='top' nxInput [(ngModel)]="inptext" rows=10 cols=132 name='inptxt'></textarea>
      </div>
    </div>
    <br>
    <br>
    <div nxRow class="dropdown">
      <div nxCol="2">
        <nx-formfield label="source encoding">
          <nx-dropdown [(ngModel)]="srcEncoding" name='srcenc'>
          @for (item of encodings; track $index) {
            <nx-dropdown-item  [value]="item"></nx-dropdown-item>
          }
          </nx-dropdown>
        </nx-formfield>
      </div>
      <div nxCol="3">
        <nx-formfield label="encryption/hash">
          <nx-dropdown [(ngModel)]="algorithm" name='alg'>
            <nx-dropdown-item [value]="'Plain'"></nx-dropdown-item>
            <nx-dropdown-group label="encryption">
            @for (item of encryptings; track $index) {
              <nx-dropdown-item  [value]="item"></nx-dropdown-item>
            }
            </nx-dropdown-group>
            <nx-dropdown-group label="hashing">
            @for (item of hashings; track $index) {
              <nx-dropdown-item [value]="item"></nx-dropdown-item>
            }
            </nx-dropdown-group>
            <nx-dropdown-group label="HMAC">
            @for (item of hashings; track $index) {
              <nx-dropdown-item [value]="'Hmac'+item"></nx-dropdown-item>
            }
            </nx-dropdown-group>
          </nx-dropdown>
        </nx-formfield>
      </div>
      <div nxCol="2">
        <nx-formfield label="target encoding">
          <nx-dropdown [(ngModel)]="destEncoding" name='destenc'>
            @for (item of encodings; track $index) {
            <nx-dropdown-item  [value]="item"></nx-dropdown-item>
            }
          </nx-dropdown>
        </nx-formfield>
      </div>
    </div>
    <br>
    <div nxRow>
      <div nxCol="5">
    @if (encryptings.indexOf(algorithm) > -1 || algorithm.startsWith('Hmac')) {
    <nx-formfield label="{{encryptings.indexOf(algorithm) == -1 && !algorithm.startsWith('Hmac') ? 'No password needed':'Password/Key: '}}" >
          <nx-dropdown nxInput name='ddenckeyf' [(ngModel)]="keyform" >
          @for (item of keyforms; track $index; let j=$index) {
            <nx-dropdown-item name="'ddenckeyf_'+j" [value]="item.name" >{{item.description}}</nx-dropdown-item>
          }
          </nx-dropdown>
          <textarea nxInput cols="60" [(ngModel)]="key" name='key'  ></textarea>
      </nx-formfield>
    }
    
  </div>
  </div>

    <br>
    <br>
    @if (encryptings.indexOf(algorithm) >= 0) {
    <button  type="button" nxButton="primary medium" (click)="encode()"
      [disabled]="key.trim().length==0">
      Encrypt Text
    </button>&nbsp;&nbsp;
    }
    @if (hashings.indexOf(algorithm) >= 0 || algorithm.startsWith('Hmac')) {
    <button type="button"
      nxButton="primary medium" (click)="encode()"
      [disabled]="algorithm.startsWith('Hmac') && key.trim().length==0">
      Hash Text
    </button>&nbsp;&nbsp;
    }
    @if (encryptings.indexOf(algorithm) >= 0) {
    <button  type="button" nxButton="primary medium" (click)="decode()"
      [disabled]="key.trim().length==0">
      Decrypt Text
    </button>&nbsp;&nbsp;
    }
    @if (algorithm == 'Plain') {
    <button  type="button" nxButton="primary medium" (click)="encode()">Recode Text</button>&nbsp;&nbsp;
    }
    &nbsp;&nbsp;<label>save to file:</label>&nbsp;&nbsp;<input type="text" nxInput name='fname' size="20" [(ngModel)]="fileName"/> 
    <br>
    <br>
    <div nxRow>
      <div nxCol="1"><label>Result: </label></div>
      <div nxCol="9">
        <textarea nxInput [ngModel]="outtext" rows="10" cols=132 name='outtext'></textarea>
      </div>
    </div>
  </div>

</form>